[package]
name = "twitter-media-downloader"
version = "0.1.1"
edition = "2021"
authors=["hello@codingthings.com"]
description="Downloads photos from \"public\" Twitter accounts to your local disk."

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
futures = "0.3.21"
tokio = {version = "1.19.2", features = ["macros"]}
clap = { version = "3.2.12", features = ["derive", "env"] }
log = "0.4"
env_logger = "0.8.4"
reqwest = "0.11"

[target.'cfg(unix)'.dependencies]
openssl = { version = " 0.10.41", features = ["vendored"] }

# Once https://github.com/jpopesculian/twitter-v2-rs/pull/9 is merged switch to #twitter-v2 = "0.1.XXX"
twitter-v2 = { git = "https://github.com/ozgurcemsen/twitter-v2-rs.git", rev = "a7637f29c2fafa3b4b8b2b7f114aa830f81d9b1e"}
